<!DOCTYPE html>
<html>
    <head>
        <title>Meet Tracker</title>
        <link rel="stylesheet" href="https://lib.cadenchau.com/lib.css">
        <link rel="stylesheet" href="/static/globals.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://lib.cadenchau.com/lib.js"></script>
        <script src="/static/script.js"></script>
        <script>

        </script>
    </head>
    <body class="centered-children">
        <div class="wrapper">
            <div class="navigation">
                <div class="centered-vertically">
                    <h1><a href="/">Meet Tracker</a></h1>
                </div>
                <div></div>
                <div class="centered-vertically" style="gap: 1rem">
                    <a class="navigation-item" href="/search/runner">Find Runner</a>
                    <a class="navigation-item" href="/search/meet">Find Meet</a>
                </div>
            </div>
            <div class="break"></div>
            <div class="content">
                
            </div>
        </div>
    </body>
</html>